
<div>
    <h4>SinhVien</h4>
    <hr />
    @foreach (var item in ViewBag.chiTietSinhVien)
    {
        <dl class="dl-horizontal">
            <dt>
                Mã Sinh Viên
            </dt>
            <dd>
                @item.MaSinhVien
            </dd>

            <dt>
                Họ Tên
            </dt>

            <dd>
                @item.HoTen
            </dd>

            <dt>
                Hòm Thư
            </dt>

            <dd>
                @item.HomThu
            </dd>

            <dt>
                Mã Lớp
            </dt>

            <dd>
                @item.MaLop
            </dd>

            <dt>
                Điện Thoại
            </dt>

            <dd>
                @item.DienThoai
            </dd>

            <dt>
                Tín Chỉ Tích Lũy
            </dt>

            <dd>
                @item.TinChiTichLuy
            </dd>

            <dt>
                Điểm Tích Lũy
            </dt>

            <dd>
                @item.DiemTichLuy
            </dd>

            <dt>
                Mã Học Kỳ
            </dt>

            <dd>
                @item.MaHocKy
            </dd>
        </dl>
    }
</div>