
@{
    ViewBag.Title = "phanPhanBien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phân Công Phản Biện</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered text-wrap">
        <tr class="table-primary">
            <th>
                Mã Giảng Viên
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Hòm Thư
            </th>
            <th>
                Đơn Vị Công Tác
            </th>
            <th>
                Điện Thoại
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.DsPhanBien)
        {
            <tr>
                <td>
                    @item.MaGiangVien
                </td>
                <td>
                    @item.HoTen
                </td>
                <td>
                    @item.HomThu
                </td>
                <td>
                    @item.DonViCongTac
                </td>
                <td>
                    @item.DienThoai
                </td>
                <td>
                    <input type="checkbox" name="maGiangViens[]" value="@item.MaGiangVien" />
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-outline-primary" />
        </div>
    </div>
}