@model QuanLyDoAn.Models.MonHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Bạn có chắc rằng muốn xóa môn học?</h3>
<div>
    <h4>Xóa môn học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieuKienTienQuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieuKienTienQuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHocKy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
