
<div>
    <h4>Môn Học</h4>
    <hr />
    @foreach (var item in ViewBag.chiTietMonHoc)
    {
        <dl class="dl-horizontal">
            <dt>
                Mã Môn Học
            </dt>
            <dd>
                @item.MaMonHoc
            </dd>

            <dt>
                Tên Môn Học
            </dt>

            <dd>
                @item.TenMonHoc
            </dd>

            <dt>
                Điều Kiện Tiên Quyết
            </dt>

            <dd>
                @item.DieuKienTienQuyet
            </dd>

            <dt>
                Mã Học Kỳ
            </dt>

            <dd>
                @item.MaHocKy
            </dd>

            <dt>
                Số Lượng Phản Biện Tối Đa
            </dt>

            <dd>
                @item.SoLuongPhanBienToiDa
            </dd>
        </dl>
    }
</div>

