@model QuanLyDoAn.Models.MonHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieuKienTienQuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieuKienTienQuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHocKy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IdMonHoc }) |
    @Html.ActionLink("Trở về", "Index")
</p>
