@model IEnumerable<QuanLyDoAn.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieuKienTienQuyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdHocKy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DieuKienTienQuyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdHocKy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMonHoc }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMonHoc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMonHoc })
        </td>
    </tr>
}

</table>
