@model IEnumerable<QuanLyDoAn.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in ViewBag.HocKy)
{
    <h2>Thông Tin Môn Học @item.TenHocKy</h2>
}

<p>
    <button class="btn btn-outline-primary mt-3">
        @Html.ActionLink("Thêm Mới", "Create", "MonHocs", new { maHocKy = ViewBag.maHocKy }, new { maHocKy = ViewBag.maHocKy, @class = "headerButton" })
    </button>
    @*<button class="btn btn-outline-primary mt-3">@Html.ActionLink("Khởi Tạo Học Kỳ", "KhoiTaoDLHK", "HocKys", null, new { @class = "headerButton" })</button>*@
</p>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body" id="myModalBodyDiv">

            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieuKienTienQuyet)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button class="btn btn-danger">
                    @Html.ActionLink("Xử Lý Thông Tin", "KhoiTaoDLMH", "MonHocs", new { maMonHoc = item.MaMonHoc, maHocKy = ViewBag.MaHocKy }, new { @class = "detailButton" })
                </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DieuKienTienQuyet)
            </td>
            <td>
                <button class="btn btn-warning ">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdMonHoc }, new { @class = "detailButton" })
                </button>
                <button type="button" class="btn btn-success" onclick="ShowMonHoc(@item.IdMonHoc)" data-toggle="modal" data-target="#myModal">
                    Chi Tiết
                </button>
            </td>
        </tr>
    }

</table>
<script>
    var ShowMonHoc = function (idMonHoc) {
        $.ajax({
            type: "POST",
            url: "/MonHocs/Details",
            data: { id: idMonHoc },
            success: function (response) {
                $("#myModalBodyDiv").html(response);
                $("#myModal").modal("show");
            }
        })
    }
</script>