@model IEnumerable<QuanLyDoAn.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin môn học @ViewBag.HocKy</h2>

<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create")</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Giảng Viên Hướng Dẫn", "Index", "GiangViens")</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DieuKienTienQuyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMonHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DieuKienTienQuyet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocKy)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IdMonHoc }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.IdMonHoc }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IdMonHoc })
            </td>
        </tr>
    }

</table>
