
<div>
    <h4>Giảng Viên</h4>
    <hr />
    @foreach (var item in ViewBag.chiTietGiangVien)
    {
        <dl class="dl-horizontal">
            <dt>
                Mã Giảng Viên
            </dt>
            <dd>
                @item.MaGiangVien
            </dd>

            <dt>
                Họ Tên
            </dt>

            <dd>
                @item.HoTen
            </dd>

            <dt>
                Hòm Thư
            </dt>

            <dd>
                @item.HomThu
            </dd>

            <dt>
                Đơn Vị Công Tác
            </dt>

            <dd>
                @item.DonViCongTac
            </dd>

            <dt>
                Điện Thoại
            </dt>

            <dd>
                @item.DienThoai
            </dd>

            <dt>
                Mã Bộ Môn
            </dt>

            <dd>
                @item.MaBoMon
            </dd>

            <dt>
                Mã Học Kỳ
            </dt>

            <dd>
                @item.MaHocKy
            </dd>
        </dl>
    }
</div>
