@model IEnumerable<QuanLyDoAn.Models.HoiDongDanhGiaKQ>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phân công hội đồng đánh giá kết quả</h2>

<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create", null, new { @class = "headerButton" })</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Khởi Tạo Học Kỳ", "InitialInfo", "HocKys", null, new { @class = "headerButton" })</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaHoiDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiKhoaBieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongThanhVien)
        </th>
        <th>
            Đã phân công
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoiDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiKhoaBieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemSoLuongThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocKy)
            </td>
            <td>
                @Html.ActionLink("Phân Công", "PhanCongThanhVienHD", new { maHoiDong = item.MaHoiDong }) 
            </td>
        </tr>
    }

</table>

