@model IEnumerable<QuanLyDoAn.Models.HoiDongDanhGiaKQ>

@{
    ViewBag.Title = "DanhSachPhanCongHD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách hội đồng</h2>

<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create")</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Khởi Tạo Học Kỳ", "InitialInfo", "HocKys")</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Phân công hội đồng", "DanhSachPhanCongHD")</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaHoiDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiKhoaBieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongThanhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoiDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiKhoaBieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocKy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdHoiDongDGKQ }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdHoiDongDGKQ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdHoiDongDGKQ })
            </td>
        </tr>
    }

</table>