@model IEnumerable<QuanLyDoAn.Models.HoiDongDanhGiaKQ>

@{
    ViewBag.Title = "DanhSachPhanCongHD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách hội đồng</h2>

<p>
    <button class="btn btn-outline-primary mt-3">
        @Html.ActionLink("Thêm Mới", "Create", "HoiDongDanhGiaKQs", new { maMonHoc = ViewBag.MaMonHoc }, new { maMonHoc = ViewBag.MaMonHoc, @class = "headerButton" })
    </button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Phân công hội đồng", "DanhSachPhanCongHD", new { maMonHoc = ViewBag.MaMonHoc }, new { @class = "headerButton" })</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaHoiDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiKhoaBieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongThanhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHoiDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiKhoaBieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongThanhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMonHoc)
            </td>
            <td>
                @Html.ActionLink("Chi Tiết", "ChiTietHoiDong", new { maHoiDong = item.MaHoiDong }) |
                @Html.ActionLink("Sửa", "Edit", new { id = item.IdHoiDongDGKQ, maMonHoc = ViewBag.MaMonHoc }) |
                @Html.ActionLink("Chọn Đề Tài", "PhanCongDanhGia", new { maHoiDong = item.MaHoiDong, maMonHoc = item.MaMonHoc })
            </td>
        </tr>
    }

</table>
<button class="btn btn-outline-primary ml-1">@Html.ActionLink("Trở Lại", "KhoiTaoDLMH","MonHocs", new {  maMonHoc = ViewBag.MaMonHoc }, new { @class = "headerButton" })</button>