@model IEnumerable<QuanLyDoAn.Models.DeTai>

@{
    ViewBag.Title = "PhanCongDanhGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 class="mt-3">Phân công hội đồng đánh giá cho đề tài</h4>
    <hr />
    <table class="table table-bordered text-wrap">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.MaDeTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDeTai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMonHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiangVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHoiDong)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDeTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDeTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMonHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaGiangVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHoiDong)
                </td>
                <td>
                    <input type="checkbox" name="idDeTais[]" value="@item.IdDeTai" />
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-outline-primary" />
            <button class="btn btn-outline-primary ml-1">@Html.ActionLink("Trở Lại", "Index", null, new { @class = "headerButton" })</button>
        </div>
    </div>
}