@model IEnumerable<QuanLyDoAn.Models.VaiTro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create", null, new { @class = "headerButton" })</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.TenVaiTro)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenVaiTro)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdVaiTro }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdVaiTro }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdVaiTro })
            </td>
        </tr>
    }

</table>
