
@model IEnumerable<QuanLyDoAn.Models.DeTai>

@{
    ViewBag.Title = "DanhSachDeTai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in ViewBag.MonHoc)
{
    <h2>Thông Tin Đề Tài Môn @item.TenMonHoc </h2>
}
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaDeTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDeTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaGiangVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.ErrorFlag == 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDeTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDeTai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaGiangVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMonHoc)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdDeTai }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.IdDeTai })|
                    @Html.ActionLink("Chọn Phản Biện", "PhanCongPhanBien", new { maDeTai = item.MaDeTai, maMonHoc = ViewBag.MaMonHoc })
                </td>
            </tr>
        }
    }
    else
    {
        @Html.Raw(ViewBag.Error)

    }
</table>
@*<script>
        $(document).ready(function () {
            $("#submitButton").on("click", function () {
                alert("Thành Công");
            });
        });
    </script>*@
