@model QuanLyDoAn.Models.PhanBien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mt-4">Xóa Phản Biện</h4>

<h3>Xác nhận xóa!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaMonHoc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-primary" /> 
            <button class="btn btn-outline-primary">@Html.ActionLink("Trở Về", "Index", new { maMonHoc = ViewBag.MaMonHoc })</button>
</div>
    }
</div>
