@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phản biện</h2>

<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create", null, new { @class = "headerButton" })</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm phản biện theo danh sách", "KhoiTaoPhanBien", null, new { @class = "headerButton" })</button>
    @*<button class="btn btn-outline-primary mt-3">@Html.ActionLink("Khởi Tạo Học Kỳ", "KhoiTaoDLHK", "HocKys", null, new { @class = "headerButton" })</button>*@
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            Mã Giảng Viên
        </th>
        <th>
            Tên Giảng Viên
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.PhanBien)
    {
        <tr>
            <td>
               @item.MaGiangVien
            </td>
            <td>
                @item.TenGiangVien
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdPhanBien }) |
                @Html.ActionLink("Chọn Phản Biện", "PhanCongPhanBien", new { maGiangVien = item.MaGiangVien })
            </td>
        </tr>
    }

</table>
