@*@model IEnumerable<QuanLyDoAn.Models.DeTai>*@

@{
    ViewBag.Title = "DsDeTai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Danh Sách Phân Phản Biện Đề Tài</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table table-bordered text-wrap">
        @*<tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.MaDeTai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenDeTai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaSinhVien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongPhanBien)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDeTai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDeTai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSinhVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongPhanBien)
                    </td>
                    <td>
                        <input type="checkbox" name="maDeTais[]" value="@item.MaDeTai" />
                    </td>
                </tr>
            }*@

        <tr class="table-primary">
            <th>
                Mã Đề Tài
            </th>
            <th>
                Tên Đề Tài
            </th>
            <th>
                Mã Sinh Viên
            </th>
            <th>
                Số Lượng Phản Biện
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.DeTais)
        {
            <tr>
                <td>
                    @item.MaDeTai
                </td>
                <td>
                    @item.TenDeTai
                </td>
                <td>
                    @item.MaSinhVien
                </td>
                <td>
                    @item.SoLuongPhanBien
                </td>
                <td>
                    <input type="checkbox" name="maDeTais[]" value="@item.MaDeTai" />
                </td>
            </tr>
        }

    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-outline-primary" />
        </div>
    </div>
}