@{
    ViewBag.Title = "DanhSachGVHD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Giảng Viên Hướng Dẫn @ViewBag.Hocky</h2>

<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            Mã Giảng Viên
        </th>
        <th>
            Tên Giảng Viên
        </th>
        <th>
            Đơn Vị
        </th>
        <th>
            Học Kỳ
        </th>
    </tr>

    @foreach (var item in ViewBag.GVHD)
    {
        <tr>
            <td>
                @item.MaGiangVien
            </td>
            <td>
                @item.HoTen
            </td>
            <td>
                @item.DonViCongTac
            </td>
            <td>
                @item.TenHocKy
            </td>
        </tr>
    }

</table>

