@model QuanLyDoAn.Models.GiangVienHuongDanTheoKy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GiangVienHuongDanTheoKy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdGiangVien)
        </dt>

        <dd>
            @ViewBag
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongSinhVienHuongDan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongSinhVienHuongDan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdGVHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
