@model QuanLyDoAn.Models.TaiKhoan

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/Content/Home/LoginFormStyle.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4"></div>
        <div class="form-horizontal col-md-4 border-success shadow" id="loginForm">
            <div class="form-group text-center mt-3">
                <img src="~/Content/Image/NavBar/Logo.jpeg" alt="Alternate Text" />
                <h3>Đăng Nhập</h3>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", placeholder = "Password"} })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-12 text-center" id="btnSubmit">
                    <input type="submit" value="Login" class="btn btn-primary form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
