@model QuanLyDoAn.Models.GiangVienHdSinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GiangVienHdSinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGiangVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHocKy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdGiangVienHdSinhVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
