@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách kết quả</h2>
@using (Html.BeginForm("Doc_File_Excel", "KetQuas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade form-horizontal" id="importExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm Thông Tin Giảng Viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    @Html.Raw(ViewBag.Error) <br /><span>Excel File</span>
                    <input type="file" class="btn btn-outline-primary" name="excelfile" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input class="btn btn-primary" type="submit" name="Doc_File_Excel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importExcelModal">
        Nhập File Excel
    </button>
}
<p>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Thêm Mới", "Create", null, new { @class = "headerButton" })</button>
    <button class="btn btn-outline-primary mt-3">@Html.ActionLink("Khởi Tạo Học Kỳ", "InitialInfo", "HocKys", null, new { @class = "headerButton" })</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            Mã Hội Đồng
        </th>
        <th>
            Tên Giảng Viên
        </th>
        <th>
            Tên Đề Tài
        </th>
        <th>
            Điểm Số
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.KetQua)
    {
        <tr>
            <td>
                @item.MaHoiDong
            </td>
            <td>
                @item.TenGiangVien
            </td>
            <td>
                @item.TenDeTai
            </td>
            <td>
                @item.DiemSo
            </td>
            <td width="15%">
                @Html.ActionLink("Sửa", "Edit", new { id = item.IdKetQua }) |
                @Html.ActionLink("Chi Tiết", "Details", new { id = item.IdKetQua }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IdKetQua })
            </td>
        </tr>
    }

</table>

