@model IEnumerable<QuanLyDoAn.Models.HocKy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Học Kỳ</h2>

<p>
    <button class="btn btn-outline-primary mr-2">@Html.ActionLink("Create New", "Create")</button>
    <button class="btn btn-outline-primary">@Html.ActionLink("Khởi tạo môn học", "Create", "MonHocs")</button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamKetThuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHocKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHocKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamKetThuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdHocKy }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdHocKy }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdHocKy })
        </td>
    </tr>
}

</table>
