@model IEnumerable<QuanLyDoAn.Models.HocKy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh Sách Học Kỳ</h2>
<h1>@ViewBag.HocKy</h1>

<p>
    <button class="btn btn-outline-primary mt-3">
        @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "headerButton" })
    </button>
</p>
<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaHocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamKetThuc)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button class="btn btn-danger">
                    @Html.ActionLink("Xử lý thông tin", "KhoiTaoDLHK", new { maHocKy = item.MaHocKy }, new { @class = "detailButton" })
                </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamKetThuc)
            </td>
        </tr>
    }

</table>
