
@{
    ViewBag.Title = "InitialInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Khởi Tạo Dữ Liệu @ViewBag.HocKy</h2>

<div class="row">
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Môn học</h5>
                @Html.ActionLink("Khởi Tạo", "Create", "MonHocs")
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sinh Viên</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "SinhViens")
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Giảng Viên</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "GiangViens")
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Đề Tài</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "DeTais")
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Chọn hội đồng đánh giá kết quả</h5>
                @Html.ActionLink("Khởi Tạo", "Create", "HoiDongDanhGiaKQs")
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Phân giảng viên hướng dẫn</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "GiangVienHdSinhViens")
            </div>
        </div>
    </div>
</div>
