@{
    ViewBag.Title = "KhoiTaoDLHK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in ViewBag.HocKy)
{
<h2>Khởi Tạo Dữ Liệu @item.TenHocKy</h2>
}


<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Môn học</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "MonHocs", new { maHocKy = ViewBag.MaHocKy }, new { maHocKy = ViewBag.MaHocKy })
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sinh Viên</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "SinhViens", new { maHocKy = ViewBag.MaHocKy }, new { maHocKy = ViewBag.MaHocKy })
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Giảng Viên</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "GiangViens", new { maHocKy = ViewBag.MaHocKy }, new { maHocKy = ViewBag.MaHocKy })
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card text-primary border-primary" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Danh sách giảng viên hướng dẫn sinh viên</h5>
                @Html.ActionLink("Khởi Tạo", "Index", "GiangVienHdSinhViens", new { maHocKy = ViewBag.MaHocKy }, new { maHocKy = ViewBag.MaHocKy })
            </div>
        </div>
    </div>
</div>
